<h2 class="page-header"> Sensor Data </h2>
<style>
	table {
		font-family: montserrat, sans-serif;
		font-size: small;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: center;
		padding: 6px;
	}
	</style>
	<table>
	  <tr>
		<th rowspan = "2">Time</th>
		<th rowspan = "2">Date</th>
		<th rowspan = "2">Longitude</th>
		<th rowspan = "2">Latitude</th>
		<th colspan = "2">Battery Temperature (C)</th>
		<th rowspan = "2">Motor Temperature (C)</th>
		<th rowspan = "2">Battery Voltage (V)</th>
		<th rowspan = "2">State-of-Charge (%)</th>
		<th rowspan = "2">Battery Current (DC-A)</th>
		<th rowspan = "2">Motor Current (AC-A%)</th>
		<th rowspan = "2">Motor Speed (RPM)</th>
		<th rowspan = "2">Torque (Nm)</th>
	  </tr>
	  <tr>
		<td> 1 </td>
		<td> 2 </td>
	  </tr>
	  <tr>
		<td> {{sensor.time}}</td>
		<td> {{sensor.date}}</td>
		<td> {{sensor.lon}}</td>
		<td> {{sensor.lat}}</td>
		<td> {{sensor.suhu_bat1}}</td>
		<td> {{sensor.suhu_bat2}}</td>
		<td> {{sensor.suhu_motor}}</td>
		<td> {{sensor.v_batt}}</td>
		<td> {{sensor.soc}}</td>
		<td> {{sensor.arus_dc}}</td>
		<td> {{sensor.arus_ac}}</td>
		<td> {{sensor.rpm_motor}}</td>
		<td> {{sensor.torsi_motor}}</td>
	  </tr>
	</table>